<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BitCoin Calc</title>
  </head>
  <body>
    <div class="container">
      <h2>Realtime BitCoin calculator</h2>
      <form action="/calculate" method="POST">
        <input
          type="text"
          name="userCoins"
          placeholder="Enter amount of coins"
        />
        <select name="currency">
          <option value="EUR">EUR</option>
          <option value="GBP">GBP</option>
          <option value="USD">USD</option>
        </select>
        <button type="submit">Calculate</button>
      </form>

      <% if (data) { %>
      <p>
        You've got <span><%= data.worth %> <%= data.code %></span> worth of
        BitCoins.
      </p>
      <p class="disclaimer"><%= data.disclaimer %></p>
      <% } %>
    </div>
  </body>
</html>
