@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  font-family: "Poppins", sans-serif;
}

.container {
  text-align: center;
  margin: 5rem;
}

h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

input {
  font-size: 1.5rem;
}

select,
option {
  font-size: 1.5rem;
}
button {
  font-size: 1.5rem;
}

p {
  font-size: 1.3rem;
  margin: 1rem;
}

span {
  font-weight: bold;
}

.disclaimer {
  font-size: 0.8rem;
}
